.card {
  padding: 16px;
  border: 1px solid #555;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card__title {
  display: flex;
}

.price {
  margin: auto 0 auto auto;
}

.card__description {
  margin-bottom: 16px;
}

.card__furniture-style {
  display: flex;
}

.pills {
  padding: 8px 10px;
  border: 1px solid #555;
  border-radius: 12px;
  margin-right: 8px;
}

.card__delivery {
  text-align: end;
}
