.wrapper-filters {
  display: flex;
  background: #fafafa;
  padding: 16px;
}

.filter-tag {
  padding: 8px;
  border: 1px solid;
  border-radius: 16px;
  margin-right: 8px;
}

.filter-remove {
  background: red;
  color: white;
  cursor: pointer;
}
